<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app>
<!--déclaration de la variable qui sera utilisée sur la page ng-app  fonction-->
<head>
  <meta charset="utf-8" />
  <title>exercice 5 partie 4 angularjs</title>
  </script>
  <script src="Agularjs-1.7.5.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>
<body >
  <div class="">
    <button ng-click="showme=false" type="button" name="button">afficher</button>
    <button ng-click="showme=true" type="button" name="button">cacher</button>
  </div>
  <div class="texte1">
    <p ng-hide="showme">Mars (prononcé en français : /maʁs/) est la quatrième planète par ordre de distance croissante au Soleil et la deuxième par masse et par taille croissantes. Son éloignement au Soleil est compris entre 1,381 et 1,666 UA (206,6 à 249,2 millions de kilomètres), avec une période orbitale de 669,58 jours martiens (686,71 jours terrestres). </p>
  </div>

</body>
</html>
